.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.groceryApp {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.types {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.listSelection {
  width: 30%;
  padding: 20px;
  text-align: left;
}

.listTable {
  flex: 1;
  padding: 20px;
  text-align: left;
}

.selectedItem {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}

.selectedItemRow {
  flex-direction: row;
  display: flex;
  padding: 10px 8px;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.addItemButton {
  padding: 20px;
  margin-top: 10px;
  border-radius: 1px solid #d1d1d1;
}
.groceryListTable {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

.optionButton {
  padding: 5px;
  margin: 0px 10px;
  border-radius: 1px solid #d1d1d1;
}
.groceryListTable th,
.groceryListTable td {
  padding: 8px;
  border: 1px solid black;
  border-collapse: collapse;
}
